---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'home page of the website';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui obcaecati
        minima dicta sint ullam eum ut provident impedit, voluptatem ab deserunt
        ipsam, rem ducimus, dolores distinctio! Nam nisi veritatis possimus!
      </p>
    </BaseLayout>
  </body>
  <script>
    import '../scripts/menu';
  </script>
</html>
